
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="content">
    <button type="button" class="btn btn-primary" data data-bs-toggle="modal" data-bs-target="#addItem">
        Add Item +
    </button>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.getId()}"></td>
                <td th:text="${item.getName()}"></td>
                <td th:text="${item.getPrice()}"></td>
                <td th:text="${item.getDescription()}"></td>
                <td>
                    <a th:href="@{/details/{id}(id=${item.id})}" class="btn btn-dark">Details</a>
                </td>
            </tr>

        </table>
</div>
</div>
   </html>
